*{
    margin: 0;
    padding: 0;
}

body {
    
    background-image: url('../images/background.jpg');
    background-repeat: repeat;
}
header h1 {
    text-align: center;
    background-color: transparent;
}
section h2 {
    text-align: center;
}

.pokemonArea {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: transparent;
  }
  
  .pokemonArea div {
    background-color: red;
    width: 150px;
    height: 150px;
    margin: 10px 30px;
    text-align: center;
  }